[2014-01-11 23:44] irJERAD opened #2 "Kali 1.0.6 amd64 no User verifiable"
It asks for user log in when no user has been set up
root and toor don't work either.

everything seemed fine less one warning about a video mode - for which is simply booted blind - then after the new setup screen 1) Boot 2)Advanced
I was asked to log in before setting up a User or Root account.

I saw on the now closed Mac Linux USB loader issues page that this was a previously known issue. Sorr

[2014-02-05 22:34] evilninjection opened #4 "Won't Compile Under OS X"
After installing osxbook (http://osxbook.com/book/bonus/chapter4/efiprogramming/) to satisfy Enterprise's dependencies (install-deps.sh wouldn't work) running build.sh under gcc (I ran `export CC=gcc`) resulted in these errors:

main.c: In function ‘efi_main’:
main.c:75: warning: unused variable ‘result’
utils.c: In function ‘FileExists’:
utils.c:183: warning: passing argument 5 of ‘dir->Open’ mak

[2014-02-23 04:00] lavadrop opened #7 "Firewire support"
Hi.

For reasons unbeknownst to me, my Aluminum iMac just won't boot from my 8 GB USB drive. My DVD drive is broken so it occurred to me to use my trusty Firewire 800 drive to boot since it's been proven to be more reliable on a Mac to boot from Firewire than from USB. And it does, but... There's always a but; I get this error after selecting EFI Boot from the startup menu:

Welcome to Enterprise!

[2014-11-26 06:38] pianoboysai opened #16 "unaligned pointer 0x2 when installed in macpro"
I have a old macpro (early 2008), and efi version is 1.3.
I tried Enterprise and Mac-Linux-USB-Loader,  the refind can detect USB successfully, but when I tried to boot, always got error:"unaligned pointer 0x2".

following is my tests:

Enterprise v0.2.1(or Mac-Linux-USB-Loader v2.0.1) + ubuntu-14.04-server-amd64 :
got error "unaligned pointer 0x2"

Enterprise v0.2.1(or Mac-Linux-USB-Loader v2.0.1

[2014-12-19 05:17] youkergav opened #17 "Error: no suitable video mode, MB Pro with Intel"
Hello! Im a noob here so don't be too harsh..

I'm trying to boot Kali 1.0.9 via eEnterprise and I get "error: no suitable video mode" and when Kali loads it presents a login screen which I cannot figure out the username or password. I have Intel Iris Pro 1536 MB so I've heard this should be a problem. And when I enable nomodeset I get the same issue and it never boots at all.

Please help! Thank

[2014-12-28 13:42] EnricoStephan opened #18 "Error: can't find configuration file"
Hey guys,

I have a problem with the current Mac Linux USB Loader.
There's an error which appears after selecting the EFI and trying to boot.

![wp_20141228_002](https://cloud.githubusercontent.com/assets/6833756/5563943/6dc0f50e-8e9f-11e4-9891-29da6fe39907.jpg)

I tried Ubuntu 14.10 and 14.04 LTS as well following the official instructions with unchecking old code and mac version option.

https:/

[2014-12-28 14:55] ghost opened #19 "Not starting: "Cant' set display mode! Unsupported""
Hello,

The boot procedure exits quite at the beginning due to "core files are missing". Because the displayed infos vanish quickly, I had to make a video from which I extracted attached screen shots (the procedure goes immediately on with booting normally OS X).

Config:
- MacBook Pro (13-inch, Early 2011
- Memory: 8GB
- Graphics: Intel HD Graphics 3000 512MB
- Software: OS X 10.9.5 (13F34)
- Boo

[2015-01-26 14:46] efrecska opened #20 "Problems with editing and copying .MLUL-Live-USB"
I have tried to change the .MLUL-Live-USB file (editing family and iso settings) after making a backup copy. At first I used Notepad, then Vim and gedit for Windows (I have set multiboot on my MBP). The result was boot failure every time. The boot up messages were too fast to be seen on my MBP. Finally, I copied back the original .MLUL-Live-USB file and it did not work any longer! Why? How to edit

[2015-01-26 16:19] SevenBits commented on #20
One thing that's not clear from your message: is the error with Enterprise, or with booting the USB drive from Enterprise? You showed me your configuration file, but I'm still your sure exactly how you have everything set up.

Could you perhaps include screenshots or a video? Unless I know specifically what is wrong it is hard to help by doing anything other than taking shots in the dark.

On Jan

[2015-01-26 20:47] efrecska commented on #20
It was Enterprise booting error because one out of the five isos listed in MLUL was missing on the disk.
gVim for Windows works for editing.

I like so much that with your progam we can put multiple isos on the USB flash drive!
Another great feature! Like with Yumi.
BTW. Yumi needs iso files being continuous.
Is it the same for MLUSBL?

Is there a way to remaster a Knoppix (or other Live Linux) IS

[2015-01-26 21:35] efrecska commented on #20
It seems to me that one of the isos listed in MLUL must be named as 'boot.iso' on the disk. Otherwise Enterprise gives a 'no iso found' message. Correct?

[2015-01-27 18:18] SevenBits commented on #20
@efrecska Yes, one of the ISO files must be named `boot.iso` in order for Enterprise to not return an error. This is left over from the earlier days before Enterprise supported booting multiple distributions, and I will eventually eliminate this requirement in future versions, as it is evidently no longer necessary.

Enterprise uses GRUB internally to load the actual ISO file, so it supports whate

[2015-01-27 20:47] efrecska commented on #20
Many thanks and continue this good work!
Ed

Date: Tue, 27 Jan 2015 10:18:56 -0800
From: notifications@github.com
To: Enterprise@noreply.github.com
CC: efrecska@hotmail.com
Subject: Re: [Enterprise] Problems with editing and copying .MLUL-Live-USB (#20)

@efrecska Yes, one of the ISO files must be named boot.iso in order for Enterprise to not return an error. This is left over from the earlier day

[2015-02-09 22:46] #20 closed

[2015-02-27 23:47] scerazy opened #21 "Does not work on Mac Mini late 2014"
Just stays on a line:

Welcome to Enterprise 0.2.1firmware)

Same USB stick work fine in Mac Mini late 2012 (and in any PC hardware with EFI firmware)

sc

[2015-02-28 11:53] steve6375 opened #22 "boot.iso is needed"
I created a FAT32 USB stick under Windows and added Ubuntu.iso as \EFI\BOOT\boot.iso - it boots fine.
I then changed the boot.iso name to ubu.iso and changed the .MLUL-Live-USB entry
entry Ubuntu-14.10
family Ubuntu
iso ubu.iso

It did not work. I then added a new dummy file called \EFI\BOOT\boot.iso (size 0 bytes) - then it worked and I can choose Ubuntu-14-10 and boot OK.

Therefore, it seems th

[2015-02-28 12:00] steve6375 opened #23 "Kernel modifer options menu appears before you can select the iso"
It would be better to select an iso first in 'Boot Selector' and then be offered the modifier options.

[2015-02-28 12:24] steve6375 opened #24 "Request: ability to specify absolute path for iso"
e.g. isoroot

entry Ubuntu-14.10
family Ubuntu
iso ubu/ubu.iso
isoroot /

[2015-02-28 15:31] SevenBits commented on #22
This is a regression from before Enterprise supported booting multiple distributions. It should be a relatively simple fix. Thanks for reporting.

On Feb 28, 2015, at 6:53 AM, steve6375 <notifications@github.com> wrote:

[2015-02-28 15:34] SevenBits commented on #23
This would make the code a bit more complicated, though, because then I'd have to deal with the possibility that the user will select Option 1 to boot directly; then we'd need two cases, one with the boot options panel needing to be shown, and one without.

On Feb 28, 2015, at 7:00 AM, steve6375 <notifications@github.com> wrote:

[2015-02-28 15:36] SevenBits commented on #24
The reason I do relative paths is because it makes things easier to deal with when passing the information to GRUB. I have been looking into this, but I'm looking into the most user-friendly way. Perhaps others can chime in with suggestions?

On Feb 28, 2015, at 7:24 AM, steve6375 <notifications@github.com> wrote:

[2015-02-28 18:28] scerazy commented on #24
In fact in current 0.2.1 nothing but boot.iso works
This one does only error out

entry ubuntu-14.04.2-desktop-amd64
family Ubuntu
iso ubuntu.iso

So if this does not work, then
iso ././ubuntu.iso
will not work either

sc

[2015-02-28 18:37] SevenBits commented on #24
It should work as long as there is a file (can be empty) called boot.iso where Enterprise expects to find it. I will remove this behavior ASAP but for now this is what needs to be long on your end.

On Feb 28, 2015, at 1:28 PM, scerazy <notifications@github.com> wrote:

[2015-02-28 18:38] scerazy commented on #24
So at the moment iso can only reside in /efi/boot folder?
And not in

(usb root)/isos/distribution/somedistro.iso

sc

[2015-02-28 18:45] SevenBits commented on #24
@scerazy That it correct, that is why the OP requested the feature to add absolute paths, which would allow what you are suggesting.

ISOs can be placed in the /efi/boot directory though, or (I believe) in a sub-folder. To be honest this is one of the weaker elements of Enterprise at the moment; I expect to overhaul this soon with newer features.

On Feb 28, 2015, at 1:38 PM, scerazy <notification

[2015-02-28 18:53] scerazy commented on #24
To me absolute would be:

(root)/folder1/file1

Relative would be (to where we start reading the config file from):

././folder1/file1

So if we have:
(root)/EFI/boot/.MLUL-Live-USB
and
(root)/isos/ubuntu/ubu.iso

then it would mean (to me)
iso ././isos/ubuntu/ubu.iso

Which is not the case, so if you could change the code it would be brilliant

sc

[2015-02-28 18:55] steve6375 commented on #24
yes, isos in subfolders do work, e.g. \EFI\boot\ubu\ubu.iso

entry Ubuntu-14.10
family Ubuntu
iso ubu/ubu.iso

[2015-02-28 19:00] scerazy commented on #24
They also work in subfolders

\EFI\boot\isos\Linux\ubuntu.iso

[2015-02-28 22:28] SevenBits commented on #24
@steve6375 @scerazy Okay, thank you. I will take these suggestions into consideration.

[2015-03-01 18:32] #22 closed

[2015-03-01 19:07] #23 closed

[2015-03-10 22:33] DeadWelcome opened #25 "Halts on utf8 is not a recommented IO charset line"
Hey Sevenbits,

Great work you are doing. I'm having trouble loading Tails from USB using Enterprise on 10.10 Mac Mini 2012, fallback bootloader. Used two USB sticks, latest was a 4GB. Splash screen does come up including Ent options and have tried turning off functions to run, also removing live-media=removable. It halts after:

**FAT-fs (sdb1): utf8 is not a recommented IO charset for FAT filesy

[2015-03-12 00:21] SevenBits commented on #25
@DeadWelcome Could it be a problem with how you formatted the drive as FAT? How do you format the drive?

[2015-03-12 09:50] DeadWelcome commented on #25
Only through Disk Utility following [these steps](http://www.hgst.com/support/faqs/how-format-my-drive-use-windows-and-mac-fat32). I haven't put any partitions on it and the USB is in slot one. My USB stick name always reverts to capital letters though, even tried **'bootme'** as the title. No avail.

I feel like I'm so close!

[2015-04-02 03:04] jeremymodell opened #26 "Loading linux kernel fails on Macbook Pro, Cannot find casper/vmlinuz.efi"
Using a Macbook Pro 15 mid 2010 10.10.3, and Mac Linux USB Loader v.3.0.2 and trying to load Linux Mint  17.1 Cinnamon edition, using Ubuntu settings.

It seems  that the linux kernel won't load as once i boot into usb and try to boot into "Ubuntu", i get a brief error saying something along the lines of Kernel cannot  find Casper/vmlinuz.efi. A second error comes up after that saying it couldn't

[2015-04-02 03:26] jeremymodell commented on #26
Tried all the boot options. Nothing's worked thus far.
If it helps this Macbook Pro has been customized to have 2 hard drives (the dvd drive has been replaced with one).

[2015-04-02 15:26] SevenBits commented on #26
Please post your .MLUL-Live-USB file.

On Apr 1, 2015, at 11:27 PM, jeremymodell <notifications@github.com> wrote:

[2015-04-03 07:35] YorikSar opened #27 "Extra characters are being passed in kernel path"
I was trying to boot gentoo install CD iso. After writing it to USB stick with Mac-Linux-USB-Loader and fixing .MLUL-Live-USB to provide custom kernel/initrd paths (I've added `kernel /isolinux/gentoo root=/dev/ram0 <...>` and `initrd /isolinux/gentoo.igz` lines and removed `family Other` line, see [bug in Loader] (/SevenBits/Mac-Linux-USB-Loader/issue/68) ), I rebooted and found out that GRUB cla

[2015-04-03 18:25] YorikSar opened #28 "Enterprise won't build with gcc >= 4.7"
I've got a lot of errors like this:

    /usr/include/efi/x86_64/efibind.h:88:1: error: unknown type name ‘uint64_t’

As per [LKML thread] (https://lkml.org/lkml/2012/6/28/523) GCC stopped implicitly including `<stdint.h>` since 4.7, so `efibind.h` fails. I've added `#include <stdint.h>` to every `.c` file and it compiled, but I think there should be a better more general way to handle it.

[2015-04-03 18:37] SevenBits commented on #28
That error is from `GNU-EFI`, a library used by Enterprise; it is not from Enterprise itself. I would recommend handling it upstream.

[2015-04-03 18:40] SevenBits commented on #27
I've heard reports that this happens, but I've been unable to reproduce it consistently. Is it an encoding issue? Is there any chance that those characters are actually in your file?

[2015-04-03 21:02] YorikSar commented on #27
I've already destroyed that file but can try to reproduce this. I've tried to move lines around, delete and rewrite these lines with no luck. I use Vim in en_US.UTF-8 locale for editing, so there's little chance some fancy Unicode symbol sneak in there. It looks very much like uninitialized memory usage for me...

[2015-04-03 21:08] YorikSar commented on #27
I don't know exact semantics of [these methods] (https://github.com/SevenBits/Enterprise/blob/master/src/main.c#L284-L285) but from the looks of it I think not enough memory is allocated for `kernel_path` and so terminating zero byte is set in yet unallocated memory. After that somewhere another allocation happens and that zero gets overridden.

[2015-04-03 21:20] SevenBits commented on #27
@YorikSar Internally the contents of the file are stored in a `CHAR8`, so a UTF-8 encoding should be okay.

It could be uninitialized memory, but the program generally works when additional parameters are passed. Though I have seen this bug before, I am unable to reproduce it consistently, and I don't want to prematurely start allocating more memory than needed, as I believe that UEFI imposes a ca

[2015-04-04 02:54] jeremymodell commented on #26
It didn't create one automatically. Didn't know I had to generate one manually. Will try now with that.

btw ubuntu 14.10 loaded fine.

[2015-04-04 10:56] YorikSar commented on #27
And that's why it works most of the time! I've checked: all "family" locations' lengths are not divisible by 8 . And `/isolinux/gentoo` is exactly 16 chars long. So you've been getting extra byte for terminating zero because of alignment.

I tried putting `/isolinux/gentoo1` there and it got parsed fine (didn't boot though, but that's because there's no such file), but `/isolinux/gentoo` steadily

[2015-04-04 13:26] SevenBits commented on #26
I'll take a look at Mint 17.1 again.

[2015-04-04 13:33] SevenBits commented on #27
@YorikSar You know what, I think you're right. I had never caught this before because I was unable to consistently reproduce the bug. I'll try it today and see if this happens, and if the alignment is the problem I'll fix it.

`AllocateMemoryAndCopyChar8String` is only different because it zeroes the memory after allocating it, though I'm sure that that will suffer the same issue as well at some p

[2015-04-05 02:07] jeremymodell commented on #26
Just removing the file-=/cdrom/pressed/ubunut.seed part fixed the issue as a heads up.

[2015-04-05 02:07] #26 closed

[2015-04-05 02:21] SevenBits commented on #26
@jeremymodell I suspect, then, that it was due to an error in how you configured Mac Linux USB Loader to set up your USB drive rather than an actual bug in the program.

[2015-04-05 02:37] jeremymodell commented on #26
I only selected Family Ubuntu and Version older than 14.10, both of which are true. There's really only three options in the entire program, and I don't think I selected anything wrong. Maybe just add something to the documentation front page for Mac Linux USB Loader to make it clearer you have to tweak the .MLUL-Live-USB file?  It's just a bit confusing as it stands. The tool works great otherwis

[2015-04-05 22:17] SevenBits commented on #19
The "can't set display mode" message should have been fixed in a recent commit, so I'm closing this issue now.

[2015-04-05 22:17] #19 closed

[2015-04-12 17:19] #27 closed

[2015-04-29 09:42] efrecska commented on #20
Hi!

I try to run MintyMac Mate and Tails 1.32 on my Macbook Pro (from 2011 - unsure what part of the year).
I get an error message "Unable to find a medium containing a live file system" with MintyMac Mate (and v1.2 as well),
and some sort of irq problem with Tails: "irq 11: nobody cared (try booting with the "irqpoll" option)" a several times, then "irq 11 disabled".

Changing Advanced Options d

[2015-05-20 05:42] 007noon700 opened #29 "Linux Mint 17.1: Error: You need to load the kernel first"
I moved this from the Mac-Linux-USB-Loader repo.

When I create a live USB and boot to the USB stick, all I get is "Error: You need to load the kernel first" then it sends me to GRUB. Am I missing something blindingly obvious to more experienced users? I haven't seen this issue much online and when I did, the solutions didn't seem to work.

[2015-05-20 10:19] SevenBits commented on #29
What version of Mac Linux USB Loader are you using? And what distribution are you trying to load? Honestly, I need more information before I can say anything.

Also, these bug reports are not support forums. They are used to report *reproduceable issues* to me. Just an FYI for the future. :)

[2015-05-20 14:23] 007noon700 commented on #29
I'm using the latest version of Mac Linux USB Loader, 3.0.2 I believe. I'm
trying to install Linux Mint 17.1 Cinnamon. I'm using MacBook Pro 10,1
(mid-2012 retina) if that helps.

Sorry, I'll keep in mind that this is not support. Thanks for helping me
anyways!

On Wednesday, May 20, 2015, SevenBits <notifications@github.com> wrote:

[2015-05-20 19:40] SevenBits commented on #29
@007noon700 Linux Mint works just fine with Mac Linux USB Loader. In order to get it to boot, you need to check the "Mac version of Ubuntu" checkbox on the installation options screen (for boring reasons which I won't get into here).

[2015-05-21 06:32] 007noon700 commented on #29
Well, I did that and now I'm getting an "attempt to read or write outside of disk 'loop'" error. Is this an issue with my flash drive?

[2015-05-21 13:14] SevenBits commented on #29
@007noon700 Can you post your `.MLUL-Live-USB` file? I've never seen that error before.

[2015-05-21 15:13] 007noon700 commented on #29
Here is my .MLUL-Live-USB:
[code]

[2015-05-21 19:36] SevenBits commented on #29
Hmm, that's odd. The file looks okay. Can you repeat the process with another USB stick?

[2015-05-21 19:40] 007noon700 commented on #29
Will do, I should be getting my other flash drive back soon.

On Thursday, May 21, 2015, SevenBits <notifications@github.com> wrote:

[2015-05-22 04:49] 007noon700 commented on #29
I tried it with a different flash drive, it worked. Thanks for your help!

[2015-05-22 04:49] #29 closed

[2015-05-22 13:09] SevenBits commented on #29
@007noon700 You're welcome!

[2015-05-30 18:50] alexander-brett opened #30 "error: invalid magic number with Mint 17.1 and MLUL 3.0.2"
Error occurs when trying to load the kernel. The partition is FAT32 and the drive has an MBR. I'm on a MacBook Pro (13-inch, Mid 2009).

Here's the .MLUL:

[code]

Cheers :)

[2015-05-30 22:32] SevenBits commented on #30
Can you post a screenshot of the error? It's important that I see the actual error message.

[2015-05-30 22:33] #18 closed

[2015-05-31 15:29] #17 closed

[2015-05-31 15:29] #25 closed

[2015-05-31 15:29] #16 closed

[2015-06-01 08:43] alexander-brett commented on #30
Not sure how to screenshot a grub error - literal photo?

[2015-06-01 10:14] SevenBits commented on #30
That's the idea :)

[2015-07-20 18:26] napcs commented on #26
I have this issue with Ubuntu 12.04 LTS  64bit.  And the same solution applies.

The current 3.x build includes  =/cdrom/pressed/ubunut.seed  in my configuration file and the USB stick boots up a 2011 Macbook Air running Mavericks.

It does not boot a 2014 Imac 21" running Yosemite.

Removing the line fixes the boot on the 2014 iMac *and* the 2011 Macbook Air.

To create the file I loaded the USB

[2015-07-23 22:11] pokinoi commented on #16
Please someone HELP I have thesame problem. I am trying to install ubuntu on a macpro6,1  version 10.10.4 running OS X Yosemite. I am trying to install ubtuntu using reFind. The main issue is that when ever i boot EFI and try either the, try ubuntu or install ubuntu option, with or without nomodeset added, i get the following error message:

Booting a command list

error: file `/casper/vmlinuz.efi

[2015-07-23 22:14] pokinoi commented on #16
Please someone HELP I have thesame problem. I am trying to install ubuntu on a macpro6,1  version 10.10.4 running OS X Yosemite. I am trying to install ubtuntu using reFind. The main issue is that when ever i boot EFI and try either the, try ubuntu or install ubuntu option, with or without nomodeset added, i get the following error message:

Booting a command list

error: file `/casper/vmlinuz.efi

[2015-07-23 23:22] SevenBits commented on #16
@pokinoi What version of Mac Linux USB Loader did you use?

[2015-07-24 02:03] SevenBits commented on #30
@alexander-brett Unless you can provide more information, I'm going to close this thread. If this remains an issue, please re-open.

[2015-07-24 02:03] #30 closed

[2015-07-24 12:16] pokinoi commented on #16
Thank you very much for your prompt reply, i am currently following, these instructions:

https://help.ubuntu.com/community/MacPro

The installation has been tested on Ubuntu Trusty Tahr - 14.04 using this version of reFind:
http://sourceforge.net/projects/refind/?source=typ_redirect

thanks

[2015-07-24 12:24] pokinoi commented on #16
I am also thinking about having mac OS X on the mac with reFind installed and run ubuntu on a bootable USB stick.However, I am planning to use it to run salome and openFoam (parallel processing), i don't know if that is also possible?

thanks

[2015-07-24 13:11] SevenBits commented on #16
I'm confused. The instructions on Ubuntu's site don't involve Mac Linux USB Loader at all. Those steps assume that you create an Ubuntu USB stick using Canonical's recommended method (which doesn't work well on Macs, IMHO). Are you using Mac Linux USB Loader as the installation media from which to boot the installer?

[2015-07-24 17:36] pokinoi commented on #16
Hello, I have solved the problem and I can boot into ubuntu now using the try ubuntu option.I am also confused now. I think the ubuntu instructions involves using reFind, which is a mac linux boot loader am assuming. So yes. That been said, I simply just want to use the macpro to run salome and openfoam on ubuntu either running on internal hard drive or USB stick. I can see the option to create a

[2015-08-11 23:47] dmitryfd commented on #30
I am getting the same issue with Kali Linux 2.0 (running on rMBP 13' Late 2013).
I was intially having the same issue as described [here](https://github.com/SevenBits/Mac-Linux-USB-Loader/issues/78), so I added an extra character to the kernel name in the config.

Now, the errors look something like this:
    Loading kernel... error: invalid magic number
    Loading RAM disk... error: error: you n

[2015-08-12 00:06] SevenBits commented on #30
@dmitryfd Yes, please send a photo, and also post your Enterprise configuration file. Which version of Mac Linux USB Loader are you using?

[2015-08-12 00:09] dmitryfd commented on #30
@SevenBits, I am using 3.1beta2.
Before I do that, someone online suggested that problem might actually be with a USB drive (bad sectors). I am trying right now with a different one and will report my findings.

[2015-08-12 00:15] dmitryfd commented on #30
Nope, it's the same error, sadly :(

[Screenshot](http://imgur.com/ovQHQXg)
[Config file](http://pastebin.com/D0BiN5k6)

[2015-08-12 13:06] SevenBits commented on #30
@dmitryfd Can you verify that your ISO isn't corrupted?

[2015-08-12 15:20] dmitryfd commented on #30
@SevenBits It actually seems so. I was downloading the image via torrents and it seems like I am having SHA1SUM mismatch. I am redownloading and will try again tonight. Will update here if that solved it.

[2015-08-12 20:14] dmitryfd commented on #30
Yup, redownloading the image actually fixed it.

Thanks for your time and sorry for troubling you!

[2015-08-12 21:23] SevenBits commented on #30
@dmitryfd No problem, I'm glad you got it working! Feel free to donate if the program helped you.

[2015-11-26 20:29] gilado opened #31 "pclinuxos does not boot"
Trying to install pclinuxos www.pclinuxos.com on early 2015 Macbook Air.
Created a USB with Mac Linux USB Loader.

It seem to start correctly, fails to fully boot reporting "ERROR: Unable to mount the livecd"

In debug mode I see "DBG: I am after fromboot The LOOPMNT is"

(when booting an asus in debug mode you see "DBG: I am after fromboot The LOOPMNT is: 1")

I tried to create a USB for other OS

[2015-11-27 21:35] SevenBits commented on #31
@gilado Thanks, I'll do some investigating.

[2015-12-10 09:46] xtigerx opened #32 "Kali linux hangs while booting"
Hello,
After a few days, I've finally createda live usb of Kali that will be recognized and almost boot on my mid-2011 MacBook Pro. Actualli, it hangs at booting.

![img_20151209_230949 1](https://cloud.githubusercontent.com/assets/16238253/11711949/56869280-9f2a-11e5-8ae1-2917c12e6163.jpg)

I tried booting in normal mode, using no nomodeset, but is still not working.

My enterprise.cfg file looks

[2015-12-10 22:23] SevenBits commented on #32
@xtigerx Try booting with `nomodeset`.

[2015-12-11 15:37] xtigerx commented on #32
@SevenBits Thank you for your answer.

As I said before, I already tried with `nomodeset` and it doesn't work.

[2015-12-11 15:55] SevenBits commented on #32
Apologies, you appeared to suggest in your email that you did not try nomodeset.

Does the screen ever go to black, or does it just hang on the screen you've shown?

[2015-12-11 16:16] xtigerx commented on #32
Sorry it was a bad use of my english.

Actually it takes more than 10 min (at the beginning I thought that it was hanged) at `Assuming drive cache: write through` but after 10 min, it continues until `modprobe`.

It hangs there, the screen doesn't go to black.

I hope you can understand my english.

Thank you.

[2015-12-11 22:52] SevenBits commented on #32
@xtigerx Without any further information, at this point it looks like it's a hardware problem. I would try to find a way to contact the folks at @offensive-security or at least file a bug. Let them know you're using Mac Linux USB Loader.

[2016-02-04 02:35] #2 closed

[2016-02-05 02:10] irJERAD commented on #2
Awesome. Looking forward to trying it out

[2016-02-14 01:45] perricoptero opened #33 "Enterprise.cfg for Byzantium"
Does anybody knows how to configure it?

Trying
entry Byzantium
kernel /path/to/kernel ...
initrd /path/to/initrd

[2016-02-14 02:40] SevenBits commented on #33
@perricoptero You could start by looking inside of the ISO...

[2016-02-23 06:24] thenetimp opened #34 "Custom Ubuntu won't boot"
I have installed using virtualbox a installation of Ubuntu 14.04 with a few programs not generally available without some custom repos.  I then used a program called respins-gtk to create a custom iso of said system.  I have tested that that iso boots fine in virtual box.  Using Mac USB Linux loader and chose this new iso and added to the enterprise.cfg the following lines to the file.

When going

[2016-02-23 17:05] SevenBits commented on #34
@thenetimp Are you first verified that your hardware is compatible with Ubuntu? Did you try using the stock ISOs from Canonical before trying your own?

[2016-02-23 18:04] thenetimp commented on #34
Yes.  My mac is March 2015.  I have created been able to use the stock 14.04 image from Ubuntu with no problems.

[2016-02-23 23:46] SevenBits commented on #34
@thenetimp Okay then. I haven't used `respins-gtk`, so I can't give too much in the way of specific advice, though it's possible that it modifies the distribution somehow to make Mac Linux USB Loader not work. Booting Linux on EFI (and Macs especially) is a very tricky process indistinguishable from black magic. :)

About the "error" messages you saw, though: none of these is an error message. It'

[2016-02-23 23:48] #32 closed

[2016-02-23 23:48] #28 closed

[2016-02-28 10:11] thenetimp commented on #34
After further investigation I agree that it is probably not the Enterprise
software.  When it loads the kernel and the image it seems to load them
without issue and then I see a flicker of x-windows and then it fails.  I
haven't had a chance to look further into this, but it's definitely not an
issue with your software so please close the bug.  I do not have time for
the next couple weeks to dig i

[2016-02-28 15:08] #34 closed

[2016-03-15 11:44] mawelo opened #35 "Building-Process Enterprise on CentOS 7 will not work"
build.sh and Makefile will not work on CentOS 7

Patches and documentation is included in file
[Enterprise_ml_2016-03-15.ZIP](https://github.com/SevenBits/Enterprise/files/173816/Enterprise_ml_2016-03-15.ZIP)

[2016-03-15 13:47] SevenBits commented on #35
@mawelo Hi there -- can you please fork this repository, make these changes on your end, and then submit a pull request? You can see how to do this in [the documentation](https://help.github.com/articles/fork-a-repo/).

[2016-05-15 09:34] onnimonni opened #36 "Request: Is it possible to encrypt casper-rw persistance?"
**Short Description of Problem:**

I would want to have encrypted persistent file system on the usb. I might accidentally save a password in browser while using linux from the usb and I don't want anyone accessing that in case I lose my usb drive. Would it be possible to add option to use LUKS (or other encryption) in enterprise boot options?

[2016-05-15 22:25] SevenBits commented on #36
@onnimonni Yes, I'm sure it's possible, but I've never done this myself, so I don't know the procedure. I can't imagine it would be _too_ difficult, though.

[2016-08-17 08:22] Dygear opened #39 "Pentoo Support"
**Short Description of Problem:** Pentoo 2015.0 RC5 Support

**Expected Behavior:**

Pentoo Linux Support

**Actual Behavior:**

No Pentoo Linux Support

**Steps to Reproduce:**
- [Download pentoo linux](https://www.pentoo.ch/download/) - I used Pentoo Linux 2015.0 RC5.
- Install onto USB Drive using [Mac Linux USB Loader](https://blog.sevenbits.tk/Mac-Linux-USB-Loader/).
- Configure the `enterpri

[2016-08-17 15:16] SevenBits commented on #39
What have you done to try to find the correct values?

[2016-08-22 20:06] brandplysreese opened #41 "Cant boot Kali Linux(kali-linux-2016.1-amd64.iso) from usb on late 2011 macbook pro using Mac Linux USB Loader 3.3(stable)"
**Short Description of Problem:**
Cant boot Kali Linux(kali-linux-2016.1-amd64.iso) from usb on late 2011 macbook pro(osx 10.11.4) using Mac Linux USB Loader 3.3(stable)

I downloaded the kali iso and verified the SHA1Sum.
I formatted the usb FAT and successfully loaded the iso on the usb via Mac Linux USB Loader 3.3.

Once I reboot I can select the usb with kali in the reFind menu and get the Ent

[2016-08-22 21:09] SevenBits commented on #41
Try enabling `nomodeset`, as described in [the documentation](https://github.com/SevenBits/Mac-Linux-USB-Loader/wiki/What-To-Do-if-Things-Don't-Work#the-usb-boots-on-my-mac-but-i-dont-have-graphics-or-i-get-a-black-screen).

[2016-08-22 21:28] brandplysreese commented on #41
Thank you for the reply. I have tried with nomodeset enabled and got the same results.

"Note: I have tried all the options from the enterprise advanced menu for kali"

![img_1837](https://cloud.githubusercontent.com/assets/12085564/17872332/8eaa212c-688d-11e6-9768-8732bba85869.JPG)
![img_1842](https://cloud.githubusercontent.com/assets/12085564/17872337/97e7b6c8-688d-11e6-9703-ef4564c5799a.JPG)
!

[2016-08-22 22:24] SevenBits commented on #41
@brandplysreese Due to a bug in the Enterprise boot loader in 3.3, `nomodeset` is not actually enabled properly. The patch will be rolled out soon. In the meantime, please add the `nomodeset` option to the Enterprise configuration file (you can find the option to edit it in the Setup USB Device screen of Mac Linux USB Loader).

[2016-08-22 23:06] brandplysreese commented on #41
Is this the correct way to add the option to the enterprise config?

![screen shot 2016-08-22 at 7 06 12 pm](https://cloud.githubusercontent.com/assets/12085564/17874736/97f18758-689b-11e6-82af-a02a01f2fb45.png)

[2016-08-22 23:08] SevenBits commented on #41
Yes.

[2016-08-23 16:15] brandplysreese commented on #41
Thanks again for the response. Adding the nomodeset option gave  me the same results as above. Still freezes when trying to boot.

![img_1845](https://cloud.githubusercontent.com/assets/12085564/17899973/3d1243fa-692b-11e6-97a0-bfc665e02314.JPG)

[2016-08-23 21:49] SevenBits commented on #41
@brandplysreese Try moving `nomodeset` to the end of the kernel parameters line, I always have it there and that might have something to do with it.

Other than that, I don’t know. It’s probably a hardware/driver issue. I’d file a bug report with a Kali developers; the OS has booted, so it’s their code running from here on out.

[2016-08-24 21:47] brandplysreese commented on #41
Moving the option to the end yielded the same results. thanks for trying to help.

[2016-08-24 21:47] #41 closed

[2016-08-26 02:00] SevenBits commented on #41
@brandplysreese No problem. Let me know what the Kali developers say.

[2016-09-03 02:01] sangstar opened #42 "Does not work on 12 inch Macbook 2016"
**Short Description of Problem:** After using Mac Linux USB to create bootable USB, the screen is stuck on 'Attempting to boot Linux distribution now'.

**Expected Behavior:**

Boot-up linux

**Actual Behavior:**

Does not boot up linux, stuck on 'Attempting to boot Linux distribution now'

**Steps to Reproduce:**

Create a USB with Mac Linux USB (I tried Ubuntu, Kali, Linux Mint), then try to boo

[2016-12-25 17:06] #7 closed

[2016-12-25 17:07] #31 closed

[2016-12-25 17:07] #33 closed

[2016-12-25 17:07] #35 closed

[2016-12-25 17:07] #42 closed

[2017-02-15 23:12] magicus commented on #24
I struggled a long time getting access to ISOs not in the efi/boot folder. As the documentation said "relative", I thought a path like "../../_ISO/LINUX/ubuntu.iso" would do fine. It did not.

However, I do believe that "../ubuntu.iso" worked (and putting the file in /efi), but I've lost track with my testing attempts so I'm not sure.

I'm trying to build a multi-platform bootable USB stick using

[2017-05-20 15:06] PanosSakkos opened #43 "Question regarding custom kernels"
Hi,

The [contact](http://blog.sevenbits.io/contact.html) page is broken, so I'll ask my question here :smile:

Is it possible to specify a kernel and an initrd that are not part of the iso file?

Thanks for the great work!
:panos

[2017-05-20 15:53] SevenBits commented on #43
Not at this time. The kernel must be present within the ISO file. There is a possibility this may change in the future.

[2017-05-20 15:53] #43 closed

[2017-06-22 13:26] amit0j opened #44 "A black screen appears after i dual booted kali linux on mac"
Hi I dual booted kali linux on my imac it seemed to go well but as soon as i get the option to boot into kali linux my keyboard doesn't work and it goes to the black screen some code appears that says fail and then it says recovering journal and then the screen goes black.
Please any help would be really appreciated.

-amitoj.

[2017-06-22 20:25] SevenBits commented on #44
What model of Mac are you using?

[2017-06-23 05:34] amit0j commented on #44
Its an imac 2011

[2017-06-23 14:34] SevenBits commented on #44
@amit0j Have you tried botting with the `nomodeset` option, available in the Advanced Boot Options menu?

[2017-06-23 22:29] amit0j commented on #44
Actually I was just starting with coding after a few tutorial i dont know how to get to the advanced options i can see advanced options for kali GNU/Linux option but in that option there are only two other option which are normal boot and recovery mode and both won't do anything. I can acces a command line by pressing 'c' thats it.

[2017-06-23 22:47] amit0j commented on #44
I am not even able to boot into macOS it straight away boots into the kali menu. I have uploaded some screenshots-
www.ibb.com/fU8Chk
www.ibb.co/bFMMa5
www.ibb.co/gYGtoQ

[2017-06-23 23:36] SevenBits commented on #44
Hi Amit, your second screenshot shows the native Kali Linux boot menu. Ordinarily this does not appear when you use Mac Linux USB Loader. Were your USB drives created with Mac Linux USB Loader?

[2017-06-23 23:40] amit0j commented on #44
No I didn't use mac linux usb loader i used a third party application it was called bootable usb maker. If i can just boot into macOS i can repeat the process?

[2017-06-23 23:54] SevenBits commented on #44
I can't provide support for tools that are not my own. If you use Mac Linux USB Loader, then I can help you.

[2017-08-04 21:25] Wolkenstein111 commented on #21
Just stays on a line:
Welcome to Enterprise 0.4.0 (firmware)
USB stick works with Max Book Air, but freezes with Mac mini 2015

[2017-11-05 16:13] Morg42 commented on #36
I tried doing this, but didn't succeed.

What I managed to achieve was booting with partition-based encrypted persistence (which works for me as well).

This needs 2 things:
- encryption setup. I resized the FAT-partition with gparted to leave the desired space on the drive unused (2GB). Then I continued more or less along the kali howto for persistent USB overlays (kali.org/prst).  Result: a USB

[2018-08-28 13:37] markfoodyburton opened #45 "Mac mini 'mid 2007' (32bit boot loader)"
**Short Description of Problem:**

Mac Mini mid 2007 Intel Core 2 Duo (Merom)

I installed as described in the readme, but on my mac, the USB key is not detected unless I name one (or other) of the files:
bootIA32.efi

In other words, I assume, I need a 32bit boot loader, while the CPU is a 64 bit model.

Is there a way to build enterprise to solve this?

[2018-09-06 02:31] LoganDark opened #46 "/path/to/kernel?"
**Short Description of Problem:** System fails to boot because /path/to/kernel can't be mounted

**Expected Behavior:**

...

**Actual Behavior:**

Grub/Enterprise/whatever actually says that "/path/to/kernel can't be mounted", and then initramfs fails since the kernel isn't loaded, then I'm dropped into a GRUB shell.

**Steps to Reproduce:**

Try this on a mid-2015 MBP:

https://system76.com/pop

[2018-09-06 02:35] LoganDark commented on #46
Oops. Forgot to configure enterprise.cfg. I think you should make it more clear that's required in MLUL...

[2018-09-06 02:35] #46 closed

[2018-09-11 19:10] jessekirbs opened #47 "Black screen after trying to run Kali from the USB on my 2011 Macbook Pro."
**Short Description of Problem:**
Your program works as expected (as far as I can tell) and I am able to successfully create the boot USB. When I try to boot from the USB, however, I get a black screen and nothing happens. I've tried running it with the 'nomodeset' option and I get the message '[drm:radeon_init [radeon]] *ERROR* No UMS support in radeon module!'

**Expected Behavior:**
Booting suc

[2018-09-14 14:31] #44 closed

[2018-09-14 14:35] SevenBits commented on #47
These are part of the boot loader, so don’t worry about them.

AMD graphics chips are a problem area. Could you try the solutions described in [this issue](
https://github.com/SevenBits/Mac-Linux-USB-Loader/issues/158)?

[2018-12-10 19:10] dave-k opened #48 "Macbook Pro, Ubuntu 18.04.1, Load linux kernel... error: file '/casper/vmlinuz.efi not found'"
**Short Description of Problem:**

Loading linux kernel fails on Macbook Pro, error: file '/casper/vmlinuz.efi not found'
This is similar to this [issue](https://github.com/SevenBits/Enterprise/issues/26) but using ubuntu-18.04.1 instead of Linux Mint 17.1

    MacBook Pro (Retina, 15-inch, Mid 2015)
    macOS High Sierra version 10.13.6
    Mac Linux USB Loader v.3.4.6 (9693)
    ubuntu-18.04.1-d

[2018-12-12 07:20] dave-k commented on #48
Is there any help or suggestions how to get past the error?

    file '/casper/vmlinuz.efi not found'

Here are 2 more screen shots which show that, even though

     The following distributions have been detected on this USB

selecting Ubuntu generates an error:

    Load linux kernel... error: file '/casper/vmlinuz.efi not found'

![20181211_225415](https://user-images.githubusercontent.com/5447

[2018-12-12 15:01] SevenBits commented on #48
Hi @dave-k, could you try removing the ‘.efi’ from the end of the kernel name?

[2018-12-13 22:19] dave-k commented on #48
Hi @sevenbits, "removing the ‘.efi’ from the end of the kernel name" was successful.
Ubuntu is now up and running from the USB stick. Thanks

[2018-12-15 00:11] SevenBits commented on #48
@dave-k, you’re welcome!

[2018-12-15 00:11] #48 closed

[2019-01-10 23:04] SevenBits commented on #4
Since commit [e2010e7](
https://github.com/SevenBits/Enterprise/commit/e2010e72e91cbdf76d609fb899d184001b95b84c), it is now finally possible to compile Enterprise on OS X.

[2019-01-10 23:04] #4 closed

[2019-03-17 19:01] #39 closed

[2020-04-17 10:53] mkexc opened #49 "Feature request: ability to specify advanced options in enterprise.cfg and boot directly with them enabled."
**Short Description of Problem:** Every time I have to boot I must manually select advanced boot options and then boot.

I'm asking if it's possible to specify advanced options in enterprise.cfg and boot directly with them enabled, without going through the advanced boot menu.
Thus I can also enable autoboot.
Thanks

[2021-04-29 16:21] leaded71 commented on #26
Hi I am having similar problems. I am using the kali linux distro.  Here is my config file:
#This file is machine generated. Do not modify it unless you know what you are doing.

entry Kali
family Debian
kernel /live/vmlinuz findiso=/efi/boot/boot.iso boot=live noconfig=sudo username=root hostname=kali

entry Kali (installer)
family Debian
initrd /install/gtk/initrd.gz
kernel /install/gtk/vmlinuz

[2022-01-03 03:41] scottmeup opened #50 "Unable to complete boot on Macbook Pro 11,3 with Ubuntu 17.04"
Unable to complete boot on Macbook Pro 11,3 with Ubuntu 17.04

The boot has an error and says something about using a fallback.
The fallback method proceeds for a while but then fails and drops to a busybox terminal with no keyboard access.
The last lines of output are:

` bcma: Unsupported SPROM revision: 11`
`bcma: bus0: No SPROM available`

ubuntu-17.04-desktop-amd64.iso